<div class="article">
    <div class="article_header">
        <h2><%= link_to h(article.title), article.link %></h2>
        
        <span><%= article.rss_feed.title %> - <%= article.published.strftime('%A, %B %d, %Y @ %I:%M %p') %></span>
    </div>

    <div class="article_author">
        <%= h(article.author) %>
    </div>
    
    <div class="article_content">
        <%= article.content %>
    </div>
</div>