<h1>Editing rss_feed</h1>

<%= error_messages_for :rss_feed %>

<% form_for(@rss_feed) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @rss_feed %> |
<%= link_to 'Back', rss_feeds_path %>
